a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: orange;
}

.textstyle {
    transform: translateY(-55px);
}

.textstyle h3{
    font-style: oblique;
    color: orangered;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    
}

.textstyle p {
    background-color: white;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 10px;

}

@media screen and (max-width: 640px) {
    .textstyle p {
        display: none;
    }

    .textstyle h3{
        padding-left: 7%;
        padding-right: 5px;
    }

    .icon {
        margin-right: 100px;
    }

    .icon svg {
        transform: scale(0.8);
        justify-content: start;
    }
    
}

.icon {
    color: orangered;
    
}

.icon svg {
    height: 4rem;
    width: 4rem;
}