.rectangle {
    background-color: rgb(65, 3, 65);
    height: 150px;
    width:700px;
    border-radius: 0 10px 10px 0;
    box-shadow: 1px 2px 5px black;

}

@media screen and (min-width: 1600px){
    .rectangle {
        background-color: rgb(65, 3, 65);
        transform: scale(1.5);
        margin-top: 5em;
    }
}

@media screen and (max-width: 700px){
    .rectangle {
        background-color: rgb(65, 3, 65);
        transform: scale(0.8);
    }
}