.buttonStyle button {
    background-color: orangered;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    max-width: none;
    box-shadow: 1px 2px 5px black;
}

.buttonStyle button:hover {
    background-color: yellow;
    color: black;
}