button {
    max-width: 6%;
    background-color: transparent;
    border: none;
    transform: scale(2);
    color: white;
    padding-bottom: 5px;
}

button:hover {
    color: rgba(255, 255, 255, 0.562);
}

.animate svg{
    transform: rotateZ(-180deg);
    color: orangered;
    transition: 0.5s ease-out;
}