.aboutme {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}

@media screen and (max-width: 500px) {
    .aboutme {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (min-width: 1700px) {
    .aboutme {
        margin-top: 160px;
        margin-bottom: 120px;
    }   
}

.here {
    font-size: 30px;
    font-style: bold;
}

.paragraphBlock {
    padding: 5px;
}