.languageList {
    background-color: white;
    border-radius: 5px;
}

.languageList ul {
    margin: 10px;
}



.listStyle {
    list-style-type: none;
    margin: 0;
    padding: 2.3px;
}

.listStyle svg {
    margin-right: 10px;
    height: 11px;
    color: rgb(65, 3, 65);
}

.textColor {
    color: orangered;
}